* {
  box-sizing: border-box;
  margin-left: 0;
  padding: 0;
  border: none;
  /* border: 1px solid red; */
  font-family: 'Montserrat', sans-serif;
}

body {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 40px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}


header {
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
}

form {
  display: flex;
  align-items: center;

}

button {
  height: 30px;
  width: 60px;
  border: 1px solid #8C92AC;
  border-left: none;
  border-radius: 0 5px 5px 0;
  font-weight: 500;
  background-color: #8C92AC;
  color: white;
}

button:hover {
  background-color: #65DDD8;
  cursor: pointer;
}

ul {
  display: flex;
  height: auto;
}

li {
  display: inline;
  text-transform: uppercase;
  font-weight: 500;
  margin: 10px 15px;
  letter-spacing: 2px;
}

li:hover {
  color: #E986EE;
  cursor: pointer;
}

hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}


#search-bar {
  height: 30px;
  width: 11rem;
  background: url("../assets/whisk.png") no-repeat 3px 3px;
  text-indent: 25px;
  background-size: 20px;
  border: 1px solid #8C92AC;
  border-radius: 5px 0 0 5px;

}

.logo-banner {
  display: flex;
}

.logo-text {
  color: #8C92AC;
  padding-left: 30px;
  font-size: 3rem;
  margin: 10px 0 0 0;
}

.logo-icon {
  width: 70px;
  height: 70px;
  margin-bottom: 5px;
}

.search-whisk {
  width: 30px;
}

.featured-recipe {
  display: flex;
  justify-content: center;
  background-color: #B5A2E5;
  border-top: 4px solid #8C92AC;
  border-bottom: 4px solid #8C92AC;
  height: 27rem;
  margin-top: 55px;

}

.featured-recipe-photo {
  border-right: 3px solid #8C92AC;

}

.featured-recipe-title{
  font-size: 1rem;
  letter-spacing: .2rem;
  background-color: #6CD1D5;
  border-bottom: 3px solid #8C92AC;
  border-left: 3px solid #8C92AC;
  padding: 9px 9px 9px 9px;
  color: white;
  /* margin-bottom: 100px; */
}

h3{
  margin: -5% 0 10% 0;
  font-size: 1.5rem;
}

.featured-recipe-text {
  margin-left: 3%;
  margin-right: 3%;
  color: #333333;
}
